<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/reports">Research Hub</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="/users/<%=@user.slug%>">Home</a></li>
      <li><a href="/logout">logout</a></li>
      <li><a href="/create_report">create report</a></li>
    </ul>
  </div>
</nav>

  
   <form action ="/create_report" method="POST">
     <h3 align="left">Companies</h3>
     <label>Report Name:</label>
     <input type="text" name="report[name]" required>
     <label>Description:</label>
     <input type="text" name="report[description]" required>
     <br><br>
     <% Company.all.each do |company| %>
      <input type="checkbox" name="company_ids[]" value="<%=company.id%>"><%= company.name %>
     <%end%>
     <h3>Dimensions</h3>
     <% Dimension.all.each do |dimension| %>
     <%= dimension.name %><input type="checkbox" name="dimension_ids[]" value="<%=dimension.id%>">
     <%end%>
     <h3>Statements</h3>
     <% Statement.all.each do |statement| %>
     <%= statement.name %><input type="checkbox" name="statement_ids[]" value="<%=statement.id%>">
     <%end%>
     </div>
     <input type="submit" value="create">
		 </form>
		 

 