<style>
{
    box-sizing: border-box;
}


.column {
    float: left;
    width: 50%;
    padding: 10px;
    height: 300px; 
}


.row:after {
    content: "";
    display: table;
    clear: both;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}


* {
    box-sizing: border-box;
}

body {
    font-family: Arial;
    padding: 20px;
    background: #f1f1f1;
}

.header {
    padding: 20px;
    font-size: 40px;
    text-align: center;
    background: white;
}

.leftcolumn {   
    float: left;
    width: 75%;
}

.rightcolumn {
    float: left;
    width: 25%;
    padding-left: 20px;
}

.card {
     background-color: white;
     padding: 20px;
     margin-top: 20px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.footer {
    padding: 10px;
    text-align: center;
    background: #ddd;
    margin-top: 10px;
}

@media screen and (max-width: 800px) {
    .leftcolumn, .rightcolumn {   
        width: 100%;
        padding: 0;
    }
}

.button1 {
    background-color: white; 
    color: black; 
    border: 2px solid #008CBA;
}

.button:hover {
    background-color: #008CBA;
    color: white;
}

</style>


<body>
  <nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/reports">Research Hub</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="/users/<%=@user.slug%>">Home</a></li>
      <li><a href="/logout">logout</a></li>
      <li><a href="/create_report">create report</a></li>
    </ul>
  </div>
</nav>
</body>


<body>

<div class="header">
  <h1 align="center"><font color="lightblue">Welcome, <%=@user.name%></font></h1>
</div>



  <div class="row">
    <div class="leftcolumn">
    
    
    <%@report.company_ids.uniq.each do |cid|%>
     <% i = 1 %>
      <div class="card">
      <p>
      
      <table>
      <h1><%=@report.name%></h1>
      <p><%=@report.description%></p>

      <tr>
      <th>Dimension</th>
      <th>Statement</th>
      <th> <%= Company.find_by_id(cid).name %></th>
      </tr>
      <!--separate company_dimensions by company ID and then iterate through the reports</-->
      <%@company_dimensions = @report.company_reports.select{|report|report if report.company_id == cid}%>
      <%@company_dimensions.sort_by{|report|report.dimension_id}.each do |report|%>
       <%if report.dimension_id == 6%>
        <tr>
         <td> Final Statement </td>
        <%else%>
         <td> <%=Dimension.find_by_id(report.dimension_id).name%> </td>
        <%end%>
        <td> <%=Statement.find_by_id(report.statement_id).name%> </td>
        <td> <%=Score.find_by_id(report.score_id).score%> </td>
       </tr>
       
       <%end%>
     </table>
     
     
    </p>
   </div>
   <%end%>
  </div>
  
  
  
  <div class="rightcolumn">
    <div class="card">
     
     <h4>Dimension Averages</h4>
      
      <% @report.company_ids.uniq.each do |id| %>
        <br>
        <h5 title="Based off all statements under each dimension"><b><u><%=Company.find_by_id(id).name%>:</u></b></h5>
         
        <% if @report.dimension_ids.include?(1)%>
          <% credibility = @report.company_reports.collect{|report| report.score_id if report.dimension_id == 1 && report.company_id == id}  .delete_if{|score|score == nil}%>
          <% credibility_scores = Score.all.collect{|x| x.score.to_f if credibility.include?(x.id)}.delete_if{|score|score == nil} %>
          <p><b>Credibility Average:</b> <%= (credibility_scores.reduce(:+)/credibility.size).round%>%</p>
        <%end%>
        
        <% if @report.dimension_ids.include?(2)%>
          <% respect = @report.company_reports.collect{|report| report.score_id if report.dimension_id == 2 && report.company_id == id}.delete_if{|score|score ==   nil}%>
          <% respect_scores = Score.all.collect{|x| x.score.to_f if respect.include?(x.id)}.delete_if{|score|score == nil} %>
          <p><b>Respect Average:</b> <%= (respect_scores.reduce(:+)/respect.size).round%>%</p>
        <%end%>
        
        <% if @report.dimension_ids.include?(3)%>
          <% fairness = @report.company_reports.collect{|report| report.score_id if report.dimension_id == 3 && report.company_id == id}.delete_if{|score|score   == nil}%>
          <% fairness_scores = Score.all.collect{|x| x.score.to_f if fairness.include?(x.id)}.delete_if{|score|score == nil} %>
          <p><b>Fairness Average:</b> <%= (fairness_scores.reduce(:+)/fairness.size).round%>%</p>
        <%end%>
       
        <% if @report.dimension_ids.include?(4)%>
         <% pride = @report.company_reports.collect{|report| report.score_id if report.dimension_id == 4 && report.company_id == id}.delete_if{|score|score ==   nil}%>
         <% pride_scores = Score.all.collect{|x| x.score.to_f if pride.include?(x.id)}.delete_if{|score|score == nil} %>
          <p><b>Pride Average:</b> <%= (pride_scores.reduce(:+)/pride.size).round%>%</p>
        <%end%>
       
         <% if @report.dimension_ids.include?(5)%>
            <% camaraderie = @report.company_reports.collect{|report| report.score_id if report.dimension_id == 5 && report.company.id == id}    .delete_if{|score|score == nil}%>
           <% camaraderie_scores = Score.all.collect{|x| x.score.to_f if camaraderie.include?(x.id)}.delete_if{|score|score == nil} %>
            <p><b>Camaraderie Average:</b> <%= (camaraderie_scores.reduce(:+)/camaraderie.size).round%>%</p>
        <%end%>
      <%end%>
     </div>
     
     
 
    
  
  
    
    <div class="card">
      <h4><b>Average of all Statements</b></h4>
      
      <%@report.company_ids.uniq.each do |id|%>
      <%scores = (Score.all.collect{|x|x.score.to_f if x.company_id == id}.delete_if{|score|score == nil})%>
      <%average = (scores.reduce(:+)/scores.size).round%>
      <p><%=Company.find_by_id(id).name%>: <%=average%>% </p>
      <%end%>
    </div>
    
    <div class="card">
      <h4><b>Final Statement</b></h4>
      
      <%@report.company_ids.uniq.each do |id|%>
      <%score = Score.all.collect{|x|x.score.to_f if x.company_id == id && x.statement_id == 60}.delete_if{|x|x == nil}%>
      <p><%=Company.find_by_id(id).name%>: <%=score[0].round%>% </p>
      <%end%>
    </div>
    
    
    <div class="card">
      <p>
        <form action="/reports/<%=@report.id%>" method="POST">
          <input type="hidden" id="hidden" name="_method" value="PATCH">
          <input class="button button1" type="submit" value="Save Report">
        </form>
        <br><br>
        <form action="/reports/<%=@report.id%>" method="POST">
          <input type="hidden" id="hidden" name="_method" value="DELETE">
          <input class="button button1" type="submit" value="Delete Report">
        </form>
      </p>
    </div>
  </div>
</div>

<div class="footer">
  <p>Research Hub 2018 created by Yosa Yon<p>
</div>

</body>