<style>
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr {
    background-color: #dddddd;
}
</style>


<body>
  <nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/reports">Research Hub</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="/users/<%=@user.slug%>">Home</a></li>
      <li><a href="/logout">logout</a></li>
      <li><a href="/create_report">create report</a></li>
    </ul>
  </div>
</nav>

<h1 align="center"><font color="lightblue">Welcome, <%=@user.name%></font></h1>
</body>


<table>
  <tr>
    <th>Company</th>
    <th>Dimension</th>
    <th>Statement</th>
    <th>Score</th>
  </tr>
  <% @report.company_reports.each do |report| %>
  <tr>
    <td><%= Company.find_by_id(report.company_id).name %></td>
    <td><%= Dimension.find_by_id(report.dimension_id).name %></td>
    <td><%= Statement.find_by_id(report.statement_id).name %></td>
    <td><%= Score.find_by_id(report.score_id).score.to_f %></td>
  </tr>
<% end %>
</table>